@font-face {
    font-family: "SuperMario";
    src:
        url('font/SuperMario256.woff') format('woff'),
        url('font/SuperMario256.woff2') format('woff2');
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

:root {
    font-family: "SuperMario";
    font-weight: 400;

    --nav-backc: #ee3c3c;
}

body {
    background-color: #8090a0;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 8fr 0.5fr;
    border: none;
}

header {
    grid-column: 2 / -1;
}

nav {
    grid-row: 1 / -2;
    display: flex;
    flex-direction: column;

    background-color: var(--nav-backc);
}

nav > * {
    margin: 30px 0 30px 7px;
}

.dash-title {
    display: flex;
}

.nav-dash {
    margin-bottom: auto;
}

.nav-dash > li,
.nav-general > li {
    list-style: none;
}

.nav-dash a,
.nav-general a {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 7px 0;
    text-decoration: none;
}

.nav-dash a > img,
.nav-general a > img {
    width: 20px;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

section {
    background-color: red;
}

footer {
    background-color: purple;
    grid-column: 1 /-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
